# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\nimai\OneDrive - Bildungszentrum Zürichsee\BZZ\Workspace\Java\IntelliJ\Schule\M411new\PersonnelOverwiew\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
